

.card{
    margin-bottom: 5px;
}

.card-text{

   display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  
   
  }

  

.card-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
     
}
.btn{
    border-radius: 15px;
}

