<footer class="mt-auto text-white-50">
    <div class="row">
        <p> Movie site</p>
    </div>
    <div class="row">
        <section class="section">                 
            <footer class="image text-white text-center">                     
              <div class="container p-4">                       
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Contact</h5>
                            <p>
                                If you want to contact us, informations are offered. 
                                If you don't know what to do, or want to know more about Movie database, you can conect us. We will be glad to be able to help you. 
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-center">Contact name</h5>

                            <ul class="list-unstyled mb-0">
                                <li>
                                    <p>Gmail:</p>
                                </li>
                                <li>
                                    <p>Telefone:</p>
                                </li>
                            </ul>
                        </div>
                
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-center">INFO</h5>
                            
                            <ul class="list-unstyled">
                                <li>
                                    <p>ifbp@gmail.com</p>
                                </li>
                                <li>
                                    <p>0800 356118</p>
                                </li>
                            </ul>
                        </div>
                
                    </div>
                </div>

                 <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2022 MovieIFBP.com
                </div>
               
            </footer>
        </section>
    </div>
</footer>