<div class="container">
    <div class="row ">
        <div class="col-2">

        </div>

        <div class="col-7 ">
            <div class="row">
                <div class="date col">
                    <small>{{comment.date}}</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="h col-2">
            <img class="imgs"
                src="https://toppng.com/uploads/preview/user-account-management-logo-user-icon-11562867145a56rus2zwu.png"
                style="height: 60%; width: 30%; ">
            <br>
            <small class="username">{{comment.name}} </small>
        </div>

        <div class=" col-7">
           <!-- <pre> <p class="mt-2">{{comment.description}} </p></pre> -->
            <textarea  class="ta" rows="3" cols="65" readonly>{{comment.description}}</textarea>
        </div>
    </div>


</div>