
html, body {
    background-image: url('https://wallpaperaccess.com/full/2314950.jpg');
    background-size: cover, contain;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.navbar {
    border-style: ridge;
    border-radius: 25px;
    border-width: thin;
}
.c{
    text-align: right;
}

.input {
    font-style: italic;
}


.welcome{
    border-radius: 100px;
    margin-top: 10px;
    background-color: rgba(0,0,0, 0.6);

    
}

.text{
    padding-right: 40px;
    padding-top: 30px;

    
   
}

.text2{
    padding-left: 65px; 
    text-align: justify;
  
}

.linesize{
    text-align: left;
    padding-left: 30px; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    
    
}
.c{
    padding-left: 65px;
}
.e{
    padding-right: 65px;
}

.secound{
    margin-left: 3em;
    background-color: rgba(0,0,0, 0.7);
}

.imgs{
    -moz-box-shadow: 10px 10px 50px rgb(0, 0, 0);
      -webkit-box-shadow: 10px 10px 50px rgb(0, 0, 0);
      box-shadow: 10px 10px 50px rgb(0, 0, 0);
      border-radius:25px;
}

.container{
    width: 1000px;
}


