
<div class="conteiner">
  <div class="card mb-4 box-shadow" style="width: 10rem; height: 21rem;">
    <div class="ana">
      <a href=""><img class="imgs card-img-top" style="height: 230px; width: 100%; display: block;"
        [src]="movie.imageUrl"></a>
          <div class="bottom-right">
           <small >{{movie.rating}}</small>           
          </div>
    </div>
    <div class="cardBody">
      <h5 class="title ">{{movie.name}} </h5>
      <small >Year: {{movie.year}}</small> 
    </div>
  </div>
</div>