.name {
    text-align: center;
    font-style: italic;
    margin-bottom: 1em;
    margin-top: 1em;
}

.button {
    text-align: right;
}

.cc {
    display: inline-block;
    padding: 5px;
    margin-left: 13.5px;
    margin-top: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.secound {
    text-align: left;
    margin-left: 2em;

}

.value {
    text-align: center;
    margin-top: 1em;
    margin-right: 1em;
}

.back {
    border-bottom: ridge;
    border-radius: 25px;
    /* background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-science-grid-globe-banner-background-image_209974.jpg');
    */
    background-color: rgba(0, 0, 0, 0.7);
}


.see {
    margin-left: 1em;
    margin-right: 1em;

}

.description {
    margin-left: 2em;
    margin-bottom: 1em;
}

.attendace {
    margin-left: 1.5em;
}


.btn {
    margin-right: 1em;
    margin-top: 1em;
}

.title {
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.imgs {
    border-radius: 25px;
    border-style: outset;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: white;


}

.cardBody {
    margin-left: 8px;
    margin-top: 3px;
}

.card {
    background-color: rgba(0, 0, 0, 0.7);
    border-style: ridge;
    border-radius: 25px;
    margin-top: 10px;
    border-color: white;

}

a {
    color: rgb(180, 216, 233)
}

a:hover {
    color: #d48fe9;
}

a:visited {
    color: #d992ec;
}

.r {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.ana {
    position: relative;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;

}